version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: forex_postgres
    env_file:
      - ./backend/.env
    environment:
      POSTGRES_DB: forex_db
      POSTGRES_USER: parth
      POSTGRES_PASSWORD: 12345678
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: forex_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:

